.form_{
    border :2px solid black;
    display:inline-block;
    position: relative;
    left:30%;
    top:200px;
    padding:10px;
    border-radius:10px;
    background: linear-gradient(white , rgb(172, 210, 247));
}
.mb-3{
    position: relative;
    top:150px;
    width:600px;
    left:30%;
    padding:20px;
    border-radius: 10px;
    border:2px solid black;
}
